h1 {
  font-family: 'Noto Sans JP', sans-serif;
  text-align:center;
  color:white;
}
body {
  background-color:black;
  margin:0;
  padding:0;
}
.flexdiv {
  display: flex;
  flex-flow:column wrap;
  align-items:center;
  justify-content:center;
  height:100vh;
  margin-left:10%;
  margin-right:10%;
}

input {
  display:block;
  margin-left:auto;
  margin-right:auto;
  padding:1%;
  width:98%;
  margin-bottom:1%;
}

button {
  display:block;
  margin-left:auto;
  margin-right:auto;
  padding: min(5%, 20px);
  background-color:cyan;
  border:0;
  border-radius:50px;
  width: min(400px, 50%);
  font-family:Verdana, sans-serif;
}

button:hover {
  background-color:red;
  transition:1s;
  color:black;
}

button:focus {
  background-color:magenta;
  transition:0.5s;
  color:black;
}

a {
}
p {
  /*text-align only works with p for some reason. May be Firefox specific bug.*/
  text-align:center;
  color:white;
  font-family:Verdana, sans-serif;
}
